.ptCate{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.ptCate:hover{
    cursor: pointer;
}
.ptActive{
    font-weight: 800;
}
.ptCate li{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    width: 110px;
    text-align: center;
}
.ptCate li:after{
    position: absolute;
    content: '';
    width: 1px; height: 40px;
    background-color: #d4d4d4;
    top: -5px; right: -20px;
}
.ptCate li:last-child:after{
    content: none;
}